
<app-slider
  [nombre] = "'Formulario'"
  [size] = "'small'"
></app-slider>

<div class="center">
  <section id="content">

<h1 class="subheader">Formulario</h1>


    <!-- SIEMPRE PONER NOMBRE CON # A FORM Y A LOS INPUTS -->
    <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+" />

        <small *ngIf="!nombre.valid && nombre.touched">
          El nombre no es válido
        </small>

      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" #apellidos="ngModel"  [(ngModel)]="user.apellidos" required pattern="[a-zA-Z]+" />


        <small *ngIf="!apellidos.valid && apellidos.touched">
          Los apellidos no son válidos
        </small>

      </div>

      <div class="form-group">
        <label for="bio">Biografia</label>
        <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>


        <small *ngIf="!bio.valid && bio.touched">
          La biografia no es válida
        </small>

      </div>

      <div class="form-group radibuttons">
        <input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero" required /> Hombre
        <input type="radio" name="genero" value="mujer" #genero="ngModel" [(ngModel)]="user.genero" /> Mujer
        <input type="radio" name="genero" value="otro" #genero="ngModel" [(ngModel)]="user.genero" /> Otro

        <small *ngIf="!genero.valid && genero.touched">
          El genero no es válido
        </small>

      </div>

      <div class="clearfix"></div>

      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid" />

    </form>


    <h2 class="subheader">
      Eventos
    </h2>
    <button (click)="hasDadoClick()">Dale Click!!</button>

    <input type="text" [(ngModel)]="campo" (blur)="hasSalido()">
      {{campo}}

    <input type="text" [(ngModel)]="campo" (keyup.enter)="hasDadoEnter()">

  </section>

  <app-sidebar></app-sidebar>

</div>
